<div class="container">
    <h3>Payment Form</h3>
  
    <div class="row">
      <div class="form-group col">
        <label>Payee Name</label>
        <input class="form-control" (input)="onNameChange($event.target.value)" />
      </div>
  
      <div class="col">
        <label><b>Name</b></label>
        <div>
          {{ name | titlecase }}
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="form-group col">
        <label>Payment Date</label>
        <input type="date" class="form-control" [(ngModel)]="date" (ngModelChange)="validateDate()" />
        <div *ngIf="dateError" class="text-danger small mt-2">
          {{ dateError }}
        </div>
      </div>
  
        <div class="col">
          <label><b>Payment Date</b></label>
          <div>
            {{ date | date: 'MMMM d, y' }}
          </div>
        </div>
      
    </div>
  
  
    <div class="row">
      <div class="form-group col">
        <label>Payment Amount</label>
        <input class="form-control" (input)="onAmountChange($event.target.value)" />
      </div>
  
      <div class="col">
        <label><b>Payment Amount</b></label>
        <div>
          {{ amount | currency:'EUR':'symbol':'1.2-2' }}
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="form-group col">
        <label>Height (in cm)</label>
        <input class="form-control" [(ngModel)]="height" />
      </div>
  
      <div class="col">
        <label><b>Height</b></label>
        <div>
          {{ height | number: '1.1-2' }}
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="form-group col">
        <label>Miles</label>
        <input class="form-control" (input)="onMilesChange($event.target.value)" />
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="inlineCheckbox1" [(ngModel)]="unit" value="km">
        <label class="form-check-label" for="inlineCheckbox1">km</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="inlineCheckbox2" [(ngModel)]="unit" value="m">
        <label class="form-check-label" for="inlineCheckbox2">m</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="inlineCheckbox3" [(ngModel)]="unit" value="cm">
        <label class="form-check-label" for="inlineCheckbox3">cm</label>
      </div>
      <div class="col">
        <label><b>Kilometers</b></label>
        <div>
          {{ miles | convert: unit | number: '1.0-2' }}
        </div>
      </div>
    </div>
  
    <hr />
    
  </div>